:root {
  --main-bg-color: #766edf;
  --primary-color: #2a265f;
  --white: #ffffff;
  --dark-gray: #555555;
  --gray: #808080;
  --wheat: wheat;
  --gradient-first-color: #5558da;
  --gradient-second-color:#5f79f9
}
