@import "./colors.css";

@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(../fonts/Poppins-Bold.ttf) format(".ttf");
}
@font-face {
  font-family: "Poppins-Light";
  src: local("Poppins"), url(../fonts/Poppins-Light.ttf) format(".ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.666;
  color: var(--dark-gray);
  margin: 0 auto;
  background-color: var(--main-bg-color);
}
body::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.5rem;
}

body::-webkit-scrollbar-track {
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    var(--gradient-first-color) 0%,
    var(--gradient-second-color) 100.2%
  );
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
