body {
  font-family: "Courier", sans-serif;
  font-weight: 400;
  line-height: 1.666;
  background: #ffefd5;
  color: #555;
}

h1 {
  font-weight: 700;
  font-size: 265%;
  text-align: center;
  justify-content: center;
  margin-top: 4rem;
  color: black;
  line-height: 1.2;
}

h1 span {
  padding: 5px 15px;
}

.json {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4rem auto;
  max-width: 90%;
}

.json > .bxstyle {
  text-align: center;
  max-width: 20rem;
  margin-bottom: 3rem;
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 0 2.1px 0 rgba(0, 0, 0, 0.07), 0 6px 20px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  transition: all 100ms ease-in-out;
}

.json > .bxstyle > dt {
  margin-bottom: 1rem;
}

dt {
  color: rgb(237, 9, 123);
  line-height: 1;
}

dt span {
  font-size: 200%;
  font-weight: 800;
}

.title {
  margin: 0 auto 20px;
  display: block;
  font-size: 200%;
}

.anchor {
  text-decoration: none;
  color: darkcyan;
}
.anchor:hover {
  color: rgb(237, 9, 123);
}
.describe {
  font-size: 110%;
}

dd {
  font-size: 90%;
  margin-left: 0;
}

dd dt {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: inherit;
}

dd dl {
  font-size: 90%;
  margin: 1rem auto 0 auto;
  letter-spacing: 0.33px;
  max-width: 15rem;
}

dd dl .bxstyle {
  margin-bottom: 1.1rem;
}
