@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(./fonts/Poppins-Bold.ttf) format(".ttf");
}
@font-face {
  font-family: "Poppins-Light";
  src: local("Poppins"), url(./fonts/Poppins-Light.ttf) format(".ttf");
}

body {
  font-family: "Courier", sans-serif;
  font-weight: 400;
  line-height: 1.666;
  background: #ffefd5;
  color: #555;
  background-image: url("https://blog.bq.com/wp-content/uploads/2018/05/machine-learning-bq-catedra-carlos-III.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

h1 {
  font-weight: 700;
  font-size: 265%;
  font-family: Poppins;
  text-align: center;
  justify-content: center;
  margin-top: 4rem;
  color: white;
  line-height: 1.2;
}

h1 span {
  padding: 5px 15px;
}

.json {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 4rem auto;
  max-width: 90%;
}

@media only screen and (max-width: 768px) {
  .json {
    flex-direction: column;
  }
}

.json > .bxstyle {
  cursor: pointer;
  text-align: center;
  width: 20vw;
  margin-bottom: 3rem;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2.1px 0 rgba(0, 0, 0, 0.07), 0 6px 20px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  transition: all 100ms ease-in-out;
}

@media only screen and (max-width: 768px) {
  .json > .bxstyle {
    width: 70vw;
  }
}

.json > .bxstyle:hover {
  transform: scale(1.1);
}

.json > .bxstyle > dt {
  margin-bottom: 1rem;
}

dt {
  color: #021e43;
  line-height: 1;
}

dt span {
  font-size: 200%;
  font-weight: 800;
}

.title {
  margin: 0 auto 20px;
  display: block;
  font-size: 200%;
  font-family: Poppins;
}

.anchor {
  text-decoration: none;
  color: darkcyan;
}
.anchor:hover {
  color: #021e43;
}
.describe {
  font-size: 110%;
  font-family: Poppins;
}

dd {
  font-size: 90%;
  margin-left: 0;
  font-family: Poppins;
}

dd dt {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
  font-size: inherit;
}

dd dl {
  font-size: 90%;
  margin: 1rem auto 0 auto;
  letter-spacing: 0.33px;
  max-width: 15rem;
}

dd dl .bxstyle {
  margin-bottom: 1.1rem;
}
