@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(./fonts/Poppins-Bold.ttf) format(".ttf");
}
@font-face {
  font-family: "Poppins-Light";
  src: local("Poppins"), url(./fonts/Poppins-Light.ttf) format(".ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.666;
  background: #ffefd5;
  color: #555;
  max-width: 90%;
  margin: 0 auto;
  background-color: #766edf;
}
